
@font-face {
	src: url(./assets/CherryCreamSoda-Regular.ttf);
	font-family: CCS;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: CCS;
}

#brickWall {
	background-image: url(./image/brickWall.png);
	background-repeat: repeat;
	position: relative;
	width: 100%;
	height: 100rem;
	border-top-left-radius: 30% 12rem;
	border-top-right-radius: 30% 12rem;
}

#hearth {
	position:absolute;
	top: 8rem;
	right: 10%;
	bottom: 0;
	left: 10%;
	background-color: whitesmoke;
	border-style: solid solid none solid;
	border-width: 2rem;
	border-color: black;
	border-top-left-radius: 50% 10rem;
	border-top-right-radius: 50% 10rem;
}

#siteTitle {
	font-size: 120%;
	text-align: center;
	margin: 4rem 2rem 2rem 2rem;
}

.pizzaRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 2.2rem;
}

#pizzaLocation {
	position: relative;
	width: 25rem;
	height: 25rem;
}

.pizzaAndPad {
	position: absolute;
	width: 100%;
	height: auto;	
}

#one, #two, #three, #four, #five, #six, #seven, #eight {
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes mover {
	from { opacity: 1; transform: translateX(0) translateY(0); }
	to { opacity: 0; transform: translateX(var(--movingX)) translateY(var(--movingY)); }
	}

@keyframes seeThem { opacity: 1; }

#siteExplanation {
	width: 16rem;
	height: 25rem;
}

.siteText {
	font-size: 1.2rem;
	text-align: center;
	padding: 0.6rem 0;
}

.buttonText {
	width: 31rem;
	height: auto;
	font-size: 1.2rem;
	text-align: justify;
	text-justify: inter-word;
}

.nextButton {
	position: relative;
	width: 10rem;
	height: 10rem;		
	background-color: dimgray;
	border-radius: 50%;
	margin: 1rem 0;
}

.pizzaButton {
	position: absolute;
	width: 100%;
	height: auto;
}

#cornerUR,
#cornerLR {
	float: right;
}

#dividerImage {
	clear: right;
	width: 100%;
	height: auto;
}

#radiusAroundFind {
	width: 2rem;
	height: 9rem;
	border-top-left-radius: 2rem 50%;
	border-bottom-left-radius: 2rem 50%;
	background-color: red;
	float: right;
	shape-outside: content-box;
	margin-top: 3.4rem;
	visibility: hidden;
}

#radiusAroundReport {
	width: 2rem;
	height: 9rem;
	border-top-right-radius: 2rem 50%;
	border-bottom-right-radius: 2rem 50%;
	background-color: red;
	float: left;
	shape-outside: content-box;
	margin-top: 2.6rem;
	visibility: hidden;
}

#how {
	margin: 1rem 0 0 3rem;
	font-size: 1.2rem;
}

#who {
	margin: 1rem 0 0 5rem;
	font-size: 1.2rem;
}


@media screen and (max-width: 986px) {
	#brickWall {
		height: 144rem;
	}
	#radiusAroundFind,
	#radiusAroundReport {
		display: none;
	}
	.buttonText {
		width: 50vw;
	}
}

@media screen and (max-width: 600px) {
	#brickWall {
		height: 160rem;
		border-top-left-radius: 30% 7rem;
		border-top-right-radius: 30% 7rem;
	}
	#hearth {
		border-width: 1.4rem;	
		border-top-left-radius: 50% 6rem;
		border-top-right-radius: 50% 6rem;
	}
	#siteTitle {
		margin: 4rem 1rem 2rem 1rem;
		font-size: 100%;
	}
	#pizzaLocation {
		height: 66vw;
	}
	#how {
		margin: 1rem 2rem 0 2rem;
	}

	#who {
		margin: 1rem 0 0 2rem;
	}
}

@media screen and (max-width: 400px) {
	#brickWall {
		height: 220rem;
	}	
	#siteExplanation{
		height: 36rem;
	}
	.nextButton {
		width: 8rem;
		height: 8rem;
	}
	#breakEmail {
		display: block;
	}
}
