
#brickWall {
	height: 70rem;
}

#whosNew {
	margin: 0 3rem 2rem 3rem;
	font-size: 1.2rem;
	text-align: center;
}

.newColumn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

input.entry {
	margin: 3rem 0;
	width: 20rem;
	height: 2rem;
	border: 0.2rem solid black;
	border-radius: 0.4rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: whitesmoke;
}

input.entry:focus {
	border: 0.2rem solid sienna;
}

#newSubmit {
	width: 16rem;
	height: 3rem;
	font-size: 1.2rem;
	border: none;
	border-radius: 0.4rem;
	background-color: sienna;
	color: blanchedalmond;
	font-weight: bold;
}

.addedText {
	margin: 3rem 0;		
	font-size: 1.2rem;
	text-align: center;
	display: none;
}

#showNewText {
	padding: 0.6rem 0;
}

a#fromNewPage {
	color: dimgray;
}

a#fromNewPage:hover {
	color: brown;
}

#didNotGetItText {
	padding: 0 0 0.6rem 0;	
}

@media screen and (max-width: 500px) {
	input.entry,
	#newSubmit {
		width: 12rem;
	}
}

