
#brickWall {
	height: 70rem;
}

.pizzaColumn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#yourChoice {
	font-size: 2rem;
	color: sienna;
	font-style: bold;
	text-align: center;
	margin-bottom: 2rem;
}

#pulldownList {
	width: 28rem;
	height: 4rem;
	font-size: 1.2rem;
	background-color: sienna;
	color: blanchedalmond;
	border: none;
	cursor: pointer;
	border-radius: 0.4rem;
	transition-property: border-radius;
	transition-delay: 3600ms;
}

#pulldownList:hover {
	color: orange;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	transition-property: border-radius;
	transition-delay: 0ms;
}

.place {
	width: 28rem;
	height: 2.2rem;
	font-size: 1.2rem;
	padding-top: 0.6rem;
	text-align: center;
	background-color: burlywood;
	color: firebrick;
	border-top: 0.05rem solid whitesmoke;
	cursor: pointer;
	transition-property: transform;
	transition-duration: 1600ms;
	transition-timing-function: ease-in;
	transition-delay: 2s;
	transform-origin: top;
	transform: rotateX(-90deg);
}

.place:last-child {
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
}

.place:hover,
.place:hover a {
	background-color: sienna;
	color: blanchedalmond;
}

#pulldownList:hover ~ .place {
	transition-duration: 500ms;
	transition-delay: 0s;
	transform-origin: top;
	transform: rotateX(0deg);
}

.place a {
	color: firebrick;
	text-decoration: none;
}

#recordIntro {
	padding: 2rem 1rem;
	font-size: 1.2rem;
	text-align: center;
	display: none;
}

#allButtons {
	padding: 0 1rem;
	display: none;
}

.radioBank {
	margin-top: 1.2rem;
	font-size: 1.2rem;	
}

.justifyLeft {
	margin-left: 4rem;
	align-items: flex-start;
}

.justifyRight {
	margin-right: 4rem;
	align-items: flex-end;
}

.radioAndLabel {
	padding-top: 0.4rem;
}

input[type="radio"] {
	display: none;
}

label {
	cursor: pointer;
}

label.before::before,
label.after::after {
	content: "";
	display: inline-block;
	vertical-align: -18%;
	width: 1.5rem;
	height: 1.5rem;
	background-color: dimgray;
	border-radius: 50%;
	margin: 0 0.6rem;
}

input[type="radio"]:checked + label::before,
input[type="radio"]:checked + label::after {
	background-image: url(./image/radioButton.png);
}

#recordComment {
	margin-top: 1.2rem;
	font-size: 1.2rem;
}

#textArea {
	width: 20rem;
	height: 4rem;
	font-size: 1.2rem;	
	background-color: whitesmoke;
	border: 0.2rem solid black;
	border-radius: 0.4rem;
}

#textArea:focus {
	border: 0.2rem solid sienna;
}

#thisLabel {
	padding: 0 1rem;
	text-align: center;
}

#recordPizza {
	margin: 1.2rem 0;
}

#recordPizzaButton {
	width: 16rem;
	height: 3rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: sienna;
	color: blanchedalmond;
	border-radius: 0.4rem;
	border: none;
}

#aboutInfo {	
	font-size: 1.2rem;
	text-align: center;
	padding: 0 1rem;
	display: none;
}

#gotInfo,
#noInfo {
	display: none;
}

a#fromReportPage {
	color: dimgray;
}

a#fromReportPage:hover {
	color: brown;
}

@media screen and (max-width: 750px) {
	#yourChoice {
		margin: 0 1rem 2rem 1rem;
	}
	#pulldownList,
	.place {
		width: 20rem;
	}
	.justifyLeft {
		margin-left: 0;
	}
	.justifyRight {
		margin-right: 0;
	}
}

@media screen and (max-width: 500px) {
	#pulldownList,
	.place {
		width: 16rem;
		height: 4rem;		
	}
	#textArea,
	#recordPizzaButton {
		width: 12rem;
	}
}

@media screen and (max-width: 400px) {
	#pulldownList,
	.place {
		width: 12rem;
	}
}