
	<div id="brickWall">

		<div id="hearth">

			<div id="siteTitle"><h1>Report on a great pizza</h1></div>

			<div id="aboutInfo" class="pizzaColumn">
				<div id="infoMessage">{{inputMessage}}</div>
				<div>If you'd like, a quick <a id="fromReportPage" href="/">click</a> will send you back to home . . .</div>
			</div>
		</div>
	</div>