
	<div id="brickWall">

		<div id="hearth">

			<div id="siteTitle"><h1>Oops!</h1></div>

			<div class="errorInfo">It seems something didn't go as planned.</div>

			<div class="errorInfo">I'll be looking into what happened but in the meantime, head back home for another try at it.</div>

			<div class="errorInfo">To get there, just <a id="fromErrorPage" href="/">click</a> and you will be sent back home . . .</div>

		</div>
	</div>