
	<div id="brickWall">

		<div id="hearth">

			<div  id="siteTitle"><h1>Best Pizza of Charlotte</h1></div>

			<div id="topRow" class="pizzaRow">
				<div id="pizzaLocation">					
					<img class="pizzaAndPad" src="./image/pizzaPaddle.png" alt="A pizza paddle."/>
					<img id="one" class="pizzaAndPad" src="./image/sliceUpperRight.png" alt="Slice of pizza." style=" "/>
					<img id="two" class="pizzaAndPad" src="./image/sliceRightUpper.png" alt="Slice of pizza." style=" "/>		
					<img id="three" class="pizzaAndPad" src="./image/sliceRightLower.png" alt="Slice of pizza." style=" "/>
					<img id="four" class="pizzaAndPad" src="./image/sliceLowerRight.png" alt="Slice of pizza." style=" "/>
					<img id="five" class="pizzaAndPad" src="./image/sliceLowerLeft.png" alt="Slice of pizza." style=" "/>
					<img id="six" class="pizzaAndPad" src="./image/sliceLeftLower.png" alt="Slice of pizza." style=" "/>
					<img id="seven" class="pizzaAndPad" src="./image/sliceLeftUpper.png" alt="Slice of pizza." style=" "/>
					<img id="eight" class="pizzaAndPad" src="./image/sliceUpperLeft.png" alt="Slice of pizza." style=" "/>
				</div>
				<div id="siteExplanation">
					<div class="siteText">Hey where'd the Pizza go!</div>
					<div class="siteText">On this site you can either find the type of pizza you're hungry for or report on one you've had.</div>
					<div class="siteText">Click on either of those buttons (pizzas) below depending on if you are full or hungry.</div>
				</div>					
			</div>

			<div id="topCorners">
				<img id="cornerUL" class="cornerButton" src="./image/cornerUL.png" alt="Upper left decorative corner."/>
				<img id="cornerUR" class="cornerButton" src="./image/cornerUR.png" alt="Upper right decorative corner."/>
			</div>

			<div id="findRow" class="pizzaRow">
				<div id="findPizzaText">
					<div id="radiusAroundFind"></div>
					<div class="buttonText">When you click this pizza button you will be taken to a page where you can find a pizza to your liking from a local pizzeria, no national chains.  If you haunt one of the national chains, give a local pizza a try.  There is plenty of variety here in Charlotte.  The choices are gathered from each one of your experiences and then categorized and listed so you can see the options each one offers.  I do hope you find one that looks good to you!</div>
				</div>

				<div class="nextButton" id="findPizza">
					<form action="/findPizzeria" method="GET">
						<input type="image" id="findPizzaButton" class="pizzaButton" src="./image/pieButton.png" alt="Whole pizza used as button.">
					</form>		
				</div>
			</div>

			<div id="divider">
				<img id="dividerImage" src="./image/divider.png" alt="Decorative divider between buttons."/>
			</div>

			<div id="reportRow" class="pizzaRow">
				<div class="nextButton" id="reportPizza">
					<form action="/reportPizza" method="GET">
						<input type="image" id="reportPizzaButton" class="pizzaButton" src="./image/pieButton.png" alt="Whole pizza used as button.">
					</form>
				</div>

				<div id="reportPizzaText">
					<div id="radiusAroundReport"></div>
					<div class="buttonText">If you click on this pizza button, you have just finished a great pizza from one of our local pizzerias and you want to share the type with all of us.  You will be asked to check the multiple things that made the pizza one of your favorites.  We will add it to the others and offer your experience to the next site visitor.  Remember, only local chains and thanks for being a pizza informer!</div>
				</div>

			</div>

			<div id="bottomCorners">
				<img id="cornerLL" class="cornerButton" src="./image/cornerLL.png" alt="Lower left decorative corner."/>
				<img id="cornerLR" class="cornerButton" src="./image/cornerLR.png" alt="Lower right decorative corner."/>
			</div>
			<div id="comments">
				<div id="how">Direct your comments to:</div>
				<div id="who">DMollert<span id="breakEmail">&#64;gmail.com</span></div>
			</div>
		</div>
	</div>