
	<div id="brickWall">

		<div id="hearth">

			<div id="siteTitle"><h1>Report on a great pizza</h1></div>

			<div id="pizzaPlace" class="pizzaColumn">
				<div id="yourChoice"></div>
				<button id="pulldownList">Pick your pizzeria from this pulldown list.</button>
				{{#each places}}
					<div class="place">{{this.place}}</div>
				{{/each}}
				<div class="place">
					<a href="/suggestPizzeria">I don't see it listed.</a>
				</div>
			</div>
			<div id="recordIntro" class="pizzaColumn">
				<div class="introText">Tell us what makes this pizza your favorite.</div>
				<div class="introText">Click on the item that describes your pizza.</div>
				<div class="introText">Then record your pizza to include it in our survey.</div>
			</div>
			
			<form id="allButtons" action="/reportPizza/collectedInput" method="POST">
				<input type="hidden" id="hidePlace" name="pizzeria" value="">	
				<div id="recordCrustTT" class="radioBank justifyLeft pizzaColumn">
					<div id="crustIntroTT">Let's start with the crust thickness.</div>
					<div class="radioAndLabel">
  						<input type="radio" id="thinThin" name="crustTT" value="thinThin">
  						<label class="before" for="thinThin">Thin center / Thin crust</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="thinThick" name="crustTT" value="thinThick">
  						<label class="before" for="thinThick">Thin center / Thick crust</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="thick" name="crustTT" value="thickThick">
  						<label class="before" for="thick">Thick center / Thick crust</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noOpinCrustTT" name="crustTT" value="noOpinion" checked>
  						<label class="before" for="noOpinCrustTT">No opinion</label>
					</div>			
				</div>

				<div id="recordCrustCC" class="radioBank justifyRight pizzaColumn">
					<div id="crustIntroCC">And was the crust chewy or crisp?</div>
					<div class="radioAndLabel">
  						<input type="radio" id="chewy" name="crustCC" value="chewy">
  						<label class="after" for="chewy">Chewy</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="crisp" name="crustCC" value="crisp">
  						<label class="after" for="crisp">Crisp</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noOpinCrustCC" name="crustCC" value="noOpinion" checked>
  						<label class="after" for="noOpinCrustCC">No opinion</label>
					</div>
				</div>

				<div id="recordCrustTaste" class="radioBank justifyLeft pizzaColumn">
					<div id="crustIntroTaste">Was the crust tasty by itself?</div>
					<div class="radioAndLabel">
  						<input type="radio" id="tasty" name="crustTaste" value="tasty">
  						<label class="before" for="tasty">Tasty all by itself.</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noTaste" name="crustTaste" value="noTaste">
  						<label class="before" for="noTaste">No taste at all.</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noOpinCrustTaste" name="crustTaste" value="noOpinion" checked>
  						<label class="before" for="noOpinCrustTaste">No opinion</label>
					</div>
				</div>

				<div id="recordSauceT" class="radioBank justifyRight pizzaColumn">
					<div id="sauceIntroType">Let's move on to the sauce.</div>
					<div class="radioAndLabel">
  						<input type="radio" id="chunky" name="sauceType" value="sChunky">
  						<label class="after" for="chunky">Chunky</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="liquid" name="sauceType" value="sLiquid">
  						<label class="after" for="liquid">Liquid</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noOpinSauceType" name="sauceType" value="noOpinion" checked>
  						<label class="after" for="noOpinSauceType">No opinion</label>
					</div>
				</div>

				<div id="recordSauceQ" class="radioBank justifyLeft pizzaColumn">
					<div id="sauceIntroQty">Too much or too little sauce.</div>
					<div class="radioAndLabel">
  						<input type="radio" id="heavy" name="sauceQty" value="sHeavy">
  						<label class="before" for="heavy">Heavy sauce</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="light" name="sauceQty" value="sLight">
  						<label class="before" for="light">Light sauce</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noOpinSauceQty" name="sauceQty" value="noOpinion" checked>
  						<label class="before" for="noOpinSauceQty">No opinion</label>
					</div>
				</div>

				<div id="recordCheese" class="radioBank justifyRight pizzaColumn">
					<div id="cheeseIntro">Rate the quantity of cheese.</div>
					<div class="radioAndLabel">
  						<input type="radio" id="lightCheese" name="cheese" value="cLight">
  						<label class="after" for="lightCheese">Light cheese</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="cheese" name="cheese" value="cModerate">
  						<label class="after" for="cheese">Moderate</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="heavyCheese" name="cheese" value="cHeavy">
  						<label class="after" for="heavyCheese">Heavy</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noOpinCheese" name="cheese" value="noOpinion" checked>
  						<label class="after" for="noOpinCheese">No opinion</label>
					</div>
				</div>

				<div id="recordOven" class="radioBank justifyLeft pizzaColumn">
					<div id="ovenIntro">For those afficionados, the oven type.</div>
					<div class="radioAndLabel">
  						<input type="radio" id="wood" name="oven" value="oWood">
  						<label class="before" for="wood">Wood</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="gasFlame" name="oven" value="oGas">
  						<label class="before" for="gasFlame">Gas flame</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="electric" name="oven" value="oElectric">
  						<label class="before" for="electric">Electric</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="grill" name="oven" value="oGrill">
  						<label class="before" for="grill">Grill</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noOpinOven" name="oven" value="noOpinion" checked>
  						<label class="before" for="noOpinOven">No opinion</label>
					</div>					
				</div>

				<div id="recordSlice" class="radioBank justifyRight pizzaColumn">
					<div id="sliceIntro">Can you buy just a slice?</div>
					<div class="radioAndLabel">
  						<input type="radio" id="yesSlice" name="slice" value="slice">
  						<label class="after" for="yesSlice">Yes you can</label>
					</div>
					<div class="radioAndLabel">
  						<input type="radio" id="noSlice" name="slice" value="noOpinion" checked>
  						<label class="after" for="noSlice">Not available</label>
					</div>
				</div>

				<div id="recordComment" class="pizzaColumn">
 					<label for="textArea" id="thisLabel">Add a short comment if you'd like.</label>
 					<textarea id="textArea" name="comment" maxlength="120"></textarea>
				</div>

				<div  id="recordPizza" class="pizzaColumn">
					<input type="submit" id="recordPizzaButton" value="Record your pizza!">	
				</div>
			</form>
		</div>
	</div>

	<script src="/javascript/reportPizza.js"></script>