
#brickWall {
	height: 70rem;
}

#findIntro {
	margin: 0 8vw;
	font-size: 1.2rem;
	text-align: center;
}

.pizzaColumn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.pizzaRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#allChoices {
	margin: 1.2rem 0;
}

#secondChoice {
	margin: 1.2rem 1rem;
}

.toSelect {
	width: 16rem;
	font-size: 0.9rem;
	font-style: bold;
	font-family: CCS;
	background-color: whitesmoke;
	padding: 0.6rem 0 0.6rem 0.6rem;
	border: 0.2rem solid black;
	border-radius: 0.4rem;
}

.toSelect:focus {
	border: 0.2rem solid sienna;
}

#findPizzaButton {
	width: 16rem;
	height: 3rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: sienna;
	color: blanchedalmond;
	border-radius: 0.4rem;
	border: none;
}

#explainSearch,
#headHome {
	margin: 1.2rem 1.4rem 0 1.4rem;
	font-size: 1.2rem;
	text-align: center;
}

.venue {
	margin: 1rem 1rem;
	font-size: 1.1rem	
}

.allComments {
	font-size: 1.0rem
}

.oneComment {
	margin: 0.4rem 1rem 0rem 1rem;	
	padding: 0.6rem 1rem;
	border: 0.2rem solid firebrick;
	border-radius: 1.2rem;
	background-color: gainsboro;
}

.date {
	font-size: 0.8rem;
	float: right;
}

a#fromFindPage {
	clear: both;
	color: dimgray;
}

a#fromFindPage:hover {
	color: brown;
}


@media screen and (max-width: 400px) {
	.toSelect,
	#findPizzaButton {
		width: 12rem;
	}
}
